{
  "singleQuote": true,
  "trailingComma": "es5",
  "svelteSortOrder": "scripts-styles-markup-options",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "plugins": ["prettier-plugin-svelte"]
}