@import '@fontsource/fira-mono';

@font-face {
    font-family: 'GRIFTER';
    src: url('/fonts/GRIFTERBold.woff2') format('woff2'),
        url('/fonts/GRIFTERBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT-America';
    src: url('/fonts/GT-America-Standard-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--pure-white: #ffffff;
	--light-blue: #DFE5F9;
	--light-yellow: #fef9f5;
	--dark: #080808;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #150061;
	--accent-color: #303f9f;
	--heading-color: #000000;
	--text-color: #292929;
	--text-color-light: #2b2b30;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--light-yellow);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: 18px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	padding: 20px;
	background-color: var(--tertiary-color);
	color: var(--pure-white);
	border-radius: 40px;
	border: none;
	cursor: pointer;
	padding: 16px 32px;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button:hover {
		background-color: var(--accent-color);
}

.box-shadow {
	box-shadow: 0 16px 24px -8px rgba(74, 48, 22, 0.12), 0px 0px 4px 0px rgba(66, 54, 23, 0.05);
	outline: 1px white;
}

.rounded {
	border-radius: 16px;
	}

figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 800px;
    margin: auto;
	margin-bottom: 40px;
}

figcaption {
	margin-top: 32px;
	text-align: center;
}

html{scroll-behavior:smooth}

@media (min-width: 720px) {
	h1 {
		font-size: 2.0rem;
	}
}
