@import '@fontsource/fira-mono';

@font-face {
    font-family: 'GRIFTER';
    src: url('/fonts/GRIFTERBold.woff2') format('woff2'),
        url('/fonts/GRIFTERBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT-America';
    src: url('/fonts/GT-America-Standard-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--pure-white: #ffffff;
	--light-blue: #f8f9fe;
	--light-yellow: #fef9f5;
	--dark: #080808;
	--light-pink: #EDE7FF;
	--secondary-color: #d0dde9;
	--tertiary-color: #150061;
	--accent-color: #592EB0;
	--light-purple: #907cff;
	--heading-color: #000000;
	--text-color: #292929;
	--text-color-light: #2b2b30;
	--background-with-opacity: rgba(255, 255, 255, 0.8);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body {
	min-height: 100vh;
	background: linear-gradient(-45deg, #eef4ff, #fbf2fe, #eae4ff, #f9f3ff, #e9e1ff, #e5e1fc);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
	margin: 0;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.blur {
    backdrop-filter: blur(8px);
}


pre {
	font-size: 18px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	padding: 20px;
	background-color: var(--tertiary-color);
	color: var(--pure-white);
	border-radius: 40px;
	border: none;
	cursor: pointer;
	padding: 16px 32px;
}

button:focus:not(:focus-visible) {
	outline: none;
}

button:hover {
		background-color: var(--accent-color);
}

.box-shadow {
	box-shadow: 0px 0px 0px 0px rgba(53, 7, 69, 0.03), 0px 9px 19px 0px rgba(53, 7, 69, 0.03), -2px 34px 34px 0px rgba(53, 7, 69, 0.03), -4px 77px 46px 0px rgba(53, 7, 69, 0.02), -6px 136px 54px 0px rgba(53, 7, 69, 0), -10px 213px 60px 0px rgba(53, 7, 69, 0);
	
	outline: 1px white;
}

.rounded {
	border-radius: 8px;
	}

.rounded-XL {
		border-radius: 16px;
		}

figure{
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
	margin-bottom: 40px;
}

figcaption {
	margin-top: 32px;
	text-align: center;
}

.tags {
	margin: 28px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

span {
	background-color: var(--background-with-opacity);
	/* backdrop-filter: blur(8px); */
	color: var(--dark);
	padding: 8px 8px;
	border-radius: 8px;
	font-size: 14px;
	white-space: nowrap;
	box-shadow: 0 15px 30px 0 rgb(0 42 102 / 4%), inset 1px 1px 1px 0 hsl(0deg 0% 100% / 10%);
}

a:hover {
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

.border {
	border: solid 2px var(--text-color);
}

	/* Animations */
	.works-grid .item:hover {
		transform: scale(0.95);
		text-decoration: none;
	}

	.next-case figure:hover {
		transform: scale(0.95);
		text-decoration: none;
		      transition: transform 0.2s;
	}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}

html{scroll-behavior:smooth}

@media (min-width: 720px) {
	h1 {
		font-size: 2.0rem;
	}

	.rounded {
		border-radius: 8px;
		}
}


