.svelte-lightbox-footer {
	color: white;
}



.svelte-lightbox-header {
	background-color: transparent;
	overflow: hidden;
}
	
.svelte-lightbox-body {
	padding: 16px;
	overflow: scroll;
	margin: auto !important;
	margin-right: 0px !important;
	max-height: 95vh !important;
}

.svelte-lightbox-body * {
	object-fit: contain !important;
	max-width: 100%;
	max-height: 100%;
}

.svelte-lightbox-body picture img {
	margin: 80px auto;
}


.svelte-lightbox-body figcaption {
	padding-top: 80px;
	color: #000000;
}

.svelte-lightbox-header button {
	color: #715469 !important;

}

.svelte-lightbox-overlay{
	background-color: rgba(255, 255, 255, 0.05) !important;
	backdrop-filter: blur(100px);
}

.svelte-lightbox-footer {
	position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
  text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 14;
	max-height: 40px;
}


.svelte-lightbox-footer h5 {
	font-family: 'GT-America';
	text-align: center !important;
	background-color: rgba(255, 255, 255, 0.8) !important;
	backdrop-filter: blur(50px);
	padding: 12px 8px;
	border-radius: 8px;
	margin-bottom: 8px;

}

.lightbox .image-description {
	text-align: center;
	font-size: 12px;
	margin: 0px 0px 40px 0;
	color: #585858;
}


@media (max-width: 720px) {
	.svelte-lightbox-body {
		overflow: hidden;
	}

}
