.svelte-lightbox-footer {
	color: white;
}

.svelte-lightbox-body figcaption {
	padding-top: 80px;
	color: #000000;
}

.svelte-lightbox-header button {
	color: #715469 !important;
}

.svelte-lightbox-overlay{
	background-color: rgba(255, 255, 255, 0.05) !important;
	backdrop-filter: blur(100px);
}

.svelte-lightbox-footer h5 {
	font-family: 'GT-America';
	text-align: center;
}

.lightbox .image-description {
	text-align: center;
	font-size: 12px;
	margin: 0px 0px 40px 0;
	color: #585858;
}