:root {
	font-family: 'GT-America', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, "raleway";
	--font-mono: 'Fira Mono', monospace;
	--font-header: 'Grifter';
}

.uppercase {
  text-transform: uppercase;
}

.nomargin {
  margin: 0;
}

a {
  color:var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'GRIFTER';
  color: var(--text-color);
  font-weight: 500;
  scroll-margin-top: 20px;
}

hr {
  border: 0;
  border-top: 1px solid;
  opacity: 0.2;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.78;
    font-size: 1rem;
  }

 
  li {
      font-size: 1rem;
      line-height: 1.78; 
  }

/* text presets */

.xl {
  font-size: 2.8rem;
  line-height: 1.3;
}

.l {
  font-size: 1.8rem;
  line-height: 1.3;
}

.m {
  font-size: 2.2rem;
  line-height: 1.2;
}

.s {
  font-size: 1.2rem;
  line-height: 1.42;
}

.xs {
  font-size: 1.2rem;
  line-height: 1.4;
}
.xxs {
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.light {
  color: var(--text-color-light);
}
.normal {
    font-family: 'GT-America';
}

@media (max-width: 752px) {
  h1, h2, h3, h4, p {
    hyphens: auto;
  }
}

@media (max-width: 1025px) {
    .xl {
        font-size: 1.6rem;
        line-height: 1.3;

       }
    .l {
           font-size: 1.5rem;
           line-height: 1.2;
           
        }
    .m {
           font-size: 1.3rem;
           line-height: 1.2;
       }
    .s {
           font-size: 1rem;
       }
    .xs {
           font-size: 0.8rem;
       }
    p {
           line-height: 1.78;
           font-size: 1rem;
        }
    li {
        line-height: 1.78;
           font-size: 1rem;
         }  
}
