img {
    max-width: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.description {
    flex-grow: 1;
    max-width: 768px;
    /* background-color: aqua; */
}

.description h1 {
    margin: 30px 0px 20px 0px;
}

.description h2,
h3 {
    margin: 140px 0px 30px 0px;
}

.description h4 {
    margin: 60px 0px 20px 0px;
}

.sidebar h3 {
    margin: 30px 0px 20px 0px;
}

.container {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 320px;
}

.hero {
    margin-bottom: 60px;
}

.small {
	max-width: 500px;
}

.margin li {
    margin: 2rem 0rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.navigation {
    background-color: var(--pure-white);
    padding: 20px;
    position: sticky;
    top: 32px;
}

.navigation h5 {
    font-size: 1.3rem;
    margin: 0;
}

.navigation ul {
    padding: 0;
    margin: 20px 0px 0px 0px;
}

.navigation li {
    list-style: none;
    text-decoration: none;
    font-size: 1.3rem;
}

@media (max-width: 1025px) {
    .container {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 24px;
    }
    .container > :first-child {
        min-width: 100%;
    }
}