.infobox {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 24px;
    margin: 80px 0;
    max-width: 100%;
}

.infobox a {
    color: var(--tertiary-color);
    text-decoration: underline;
}

.infobox>:first-child {
    padding: 0px 0px;
    margin: 0px;
}

.infobox p {
    font-size: 1rem;
}

.intro {
    margin: 120px 0 120px 0;
}

h1 {
    margin: 40px 0;
}


.case img {
    width: 100%;


}

video {
    max-width: 100%;
}

.container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container img {
    margin: 48px 0 20px;
}

.description {
    flex-grow: 1;
    max-width: 768px;
}

.description h1 {
    margin: 30px 0px 8px 0px;
}

.description h2,
h3 {
    margin: 40px 0px 8px 0px;
}

.description h2,
h3 {
    margin: 56px 0px 8px 0px;
}


.description h4 {
    margin: 40px 0px 8px 0px;
}

.divider img {
    max-height: 10px;
    padding: 48px 0;
    fill: #4700d8;
    border: 0;
}

.description p {
    margin: 10px 0px 60px 0px;
}

figcaption {
    font-size: 12px;
    margin-top: 0px;
    color: #585858;
}

.sidebar a {
    color: var(--tertiary-color);
}

.sidebar h5 {
    margin: 20px 0px 0px 0px;
    font-family: "GT-America";
    text-transform: uppercase;
    color: black;
    letter-spacing: 1px;
}

.Link h3 {
    margin: 40px 0 10px 0;
}

.container {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 320px;
}

.hero {
    align-items: center;
    margin-bottom: 60px;
}


.small {
    max-width: 500px;
}

.margin li {
    margin: 16px 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navigation {
    background-color: var(--background-with-opacity);
    box-shadow: inset 1px 1px 1px 0 hsl(0deg 0% 100% / 50%), 0 15px 30px 0 rgb(22 13 61 / 4%) 0px 0px 0px 0px rgb(53 7 69 / 3%), 0px 9px 19px 0px rgb(53 7 69 / 3%), -2px 34px 34px 0px rgb(53 7 69 / 3%), -4px 77px 46px 0px rgb(53 7 69 / 2%), -6px 136px 54px 0px rgb(53 7 69 / 0%), -10px 213px 60px 0px rgb(53 7 69 / 0%);
    opacity: 98%;
    padding: 16px;
    position: sticky;
    top: 32px;
    max-width: 350px;
    min-width: 250px;
    margin-top: 24px;
}

.navigation h3 {
    margin: 10px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    margin: 1rem;
}

.summary {
    background-color: var(--background-with-opacity);
    padding: 24px;
    margin: 80px 0;
}


.summary>:first-child {
    padding: 0px 0px;
    margin: 0px;
}

.summary p {
    margin: 0;
    font-size: 1rem;
}


.summary a {
    color: var(--tertiary-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.description ul {
    margin: 30px 0px 50px 0px;
}

.description p {
    margin: 16px 0px 0px 0px;
}

iFrame {
    margin-top: 40px;
}

.next-case figure {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.next-case img {
    max-width: 50%;
}


.next-case figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.next-case h3 {
    text-align: center;

}

a:hover {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

@media (max-width: 1025px) {
    .case {
        padding: 8px;
    }

    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .container> :first-child {
        min-width: 100%;
    }

    .infobox {
        margin-top: 40px;
        padding: 16px;
    }

    .case img {
        margin: 30px 0 20px 0;
    }

    .margin li {
        margin: 8px 0px;
    }

    .next-case figure {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
  
    }

    .next-case img {
min-width: 350px;
    }


}