

.intro {
margin: 120px 0 120px 0;}

h1 {
    margin: 20px 0;
}

.case img {
width: 100%;
border: 1px solid rgb(213, 213, 213, 0.5);

}

video {
    max-width: 100%;
}

.container {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container img {
    margin-top:40px;
}

.description {
    flex-grow: 1;
    max-width: 768px;
}

.description h1 {
    margin: 30px 0px 20px 0px;
}

.description h2,
h3 {
    margin: 80px 0px 30px 0px;
}

.description h4 {
    margin: 60px 0px 20px 0px;
}

.description p {
    margin: 10px 0px 60px 0px;
}

.sidebar a {
    color: var(--accent-color);
}

.sidebar h3 {
    margin: 20px 0px 0px 0px;
}

.container {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 320px;
}

.hero {
    align-items: center;
    margin-bottom: 60px;
}


.small {
	max-width: 500px;
}

.margin li {
    margin: 1rem 0rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.navigation {
    background-color: var(--pure-white);
    padding: 20px;
    position: sticky;
    top: 32px;
    max-width: 350px;
    min-width: 250px;
    margin-top: 24px;
}

.navigation h5 {
    margin: 10px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
    text-decoration: none;
    /* font-size: 1.2rem; */
}

.infobox {
background-color: var(--light-blue);
padding: 64px;
margin-top: 120px;
max-width: 600px;
}

.infobox  > *{
    color: var(--tertiary-color);
}

.infobox >:first-child{
    padding: 0px 0px;
    margin: 0px;
}

.infobox p {
    margin: 0;
    font-size: 1rem;
}


.infobox a {
    color: var(--tertiary-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

.description ul {
    margin: 30px 0px 50px 0px;
    }

.description p {
        margin: 16px 0px 0px 0px;
}

.description h2,
h3 {
    margin: 40px 0px 30px 0px;
}

@media (max-width: 1025px) {
.case {
    padding: 8px;
}

    .container {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .container > :first-child {
        min-width: 100%;
    }

    .infobox {
        margin-top: 40px;
        padding: 32px;
    
        }




.case img {
    margin: 30px 0 20px 0;
}


}